.container-fluid.block1
    a.logo__header(title='' href='/')
    nav.top__nav.visible-lg-block.visible-md-block
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | русский
                    i.glyphicon.glyphicon-chevron-down
                ul.dropdown-menu
                    li
                        a(href='#') English
                    li
                        a(href='#') Spain
            li
                a(href='#') сайт exness
    h2.slogan
        | Подлинная свобода распоряжения
        | своими средствами на Форекс
    h3.sub__slogan
        | Пополняйте счет и выводите прибыль без комиссии
    button.btn.btn-lg() пополнить счет
        i.glyphicon.glyphicon-chevron-right.pull-right