.container-fluid.block3
    h3.text-center
        | Доступные
        span
            |  платежные системы
    .row
        .js-carousel-mobile
            -
                paySystems = [
                '/img/icon-ps-fp.png',
                '/img/icon-ps-cash.png',
                '/img/icon-ps-pm.png',
                '/img/icon-ps-wm.png',
                '/img/icon-ps-net.png',
                '/img/icon-ps-visa.png',
                '/img/icon-ps-pw.png',
                '/img/icon-ps-uk.png']
            each pic in paySystems
                .col-lg-3.col-md-3.col-sm-6.text-center.slider__item
                    img(src=pic)
        .request-form
            form.form-inline
                .form-group.visible-lg-inline.visible-md-inline
                    label.sr-only(for="cellphone")
                        | Мобильный телефон
                    input.form-control(type='tel' id='cellphone' placeholder='Мобильный телефон' pattern='pattern="+7[0-9]{10}')
                .form-group.visible-lg-inline.visible-md-inline
                    label.sr-only(for="email")
                        | Адрес электронной почты
                    input.form-control(type='email' id='email' placeholder='Адрес электронной почты' pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}")
                button.btn.btn-lg(type="submit")
                    | Открыть счет
                    i.glyphicon.glyphicon-chevron-right.pull-right
            small.visible-lg.visible-md
                | Пример: +71234431123
        p.text-comment
            | По некоторым <a href="#" title="">способам ввода/вывода средств</a> действуют ограничения по размеру
            span  минимальной суммы операции для осуществления транзакции без комиссии.