.container-fluid.block2
    .row
        .col-lg-1.visible-lg-block
            .text__rotate--90.visible-lg-block.visible-md-block
                | Для всех типов счетов
        .col-lg-4.col-xs-12.text-center
            .icon__percent--img
                img(src='/img/zero.svg' alt='Комиссия за переводы 0 процентов')
                p.icon__percent--desc.text-center.visible-lg-block
                    | Комиссия за переводы
        .col-lg-7.col-xs-12
            p.description
                | Выводя со счета форекс-брокера EXNESS $1000, вы получаете на свой кошелек или банковский счет ровно $1000.