.container-fluid.social__icons
    ul.social__icons-list
        -
            socialIcons = ['fa-vk', 'fa-odnoklassniki', 'fa-twitter', 'fa-facebook-square',
            'fa-youtube-play', 'fa-linkedin-square', 'fa-star', 'fa-instagram',
            'fa-google-plus-square']
        each style in socialIcons
            li.social__icons-item
                a(href='')
                    i.fa(class=style aria-hidden='true')
.container-fluid.footer
    .row.menu-block
        .col-lg-2.col-xs-3.first
            a.main-link(href='#') О компании
            ul.menu-list.visible-lg
                -
                    aboutList = ['Общие сведения', 'Почему EXNESS?', 'Менеджмент',
                    'Регуляция', 'Служба поддержки клиентов']
                each text in aboutList
                    li.menu-list__item
                        a(href='#')= text
        .col-lg-3.col-xs-3.second
            a.main-link(href='#') Торговля
            ul.menu-list.visible-lg
                -
                    saleList = ['Открыть торговый счет', 'Пополнение и снятие средств', 'Спецификации контрактов',
                    'Правила предоставления кредитного плеча']
                each item in saleList
                    li.menu-list__item
                        a(href='#')= item
        .col-lg-5.col-xs-3.third
            a.main-link(href='#') Инструменты
            .row.visible-lg
                .col-lg-6
                    ul.menu-list
                        -
                            toolsList = ['Meta Trader 4',
                            'Meta Trader 5',
                            'Webtrader',
                            'Мобильные платформы']
                        each item in toolsList
                            li.menu-list__item
                                a(href='#')= item
                .col-lg-6
                    ul.menu-list
                        -
                            toolsList = ['Экономический календарь',
                            'Аналитика',
                            'Калькулятор трейдера и конвертер валют',
                            'Загрузки']
                        each item in toolsList
                            li.menu-list__item
                                a(href='#')= item
        .col-lg-2.col-xs-3.last
            a.main-link(href='#') Партнерство
            ul.menu-list.visible-lg
                li
                    a.main-link(href='#') Библиотека
                li
                    a.main-link(href='#') FAQ
    .row.footer-text__block
        .col-lg-9.col-xs-12
            p
                | Деятельность EXNESS (CY) LTD (регистрационный номер: HE 293057) регулируется CySEC (Cyprus Securities
                | and Exchange Commission), лицензия № 178/12. EXNESS LIMITED (VC), registration number 21927 (IBC 2014).
            p
                | The information on this website may only be copied with the express written permission of EXNESS. <br>
                | CFD являются продуктами маржинальной торговли, соответственно, убытки, понесенные в процессе торговли CFD,
                | могут превысить начальный инвестированный капитал. Торговля CFD сопряжена с высоким уровнем риска и может
                | не подходить для всех инвесторов. Инвестиционная стоимость может, как увеличиваться, так и уменьшаться, и
                | инвесторы могут потерять все свои вложенные средства. Компания ни при каких обстоятельствах не несет
                | ответственности перед физическими или юридическими лицами за любые убытки или ущерб целиком или
                | частично вызванные, являющиеся результатом, или имеющие отношение к любым операциям, связанным с CFD.
                | <a href="#" title="">Подробнее</a><br>
                | ©2008—2015. Exness
        .col-lg-3.visible-lg
            .logo-list
                -
                    logoList = ['/img/beliz.png',
                    '/img/sysec.png',
                    '/img/cascade.png',
                    '/img/icon-sm.png',
                    '/img/icon-nqa.png']
                each pic in logoList
                    a.logo-list__item
                        img(src=pic)