doctype html
html
    head
        title Ex
        link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
        link(rel='stylesheet' type='text/css' href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        script(src="https://use.fontawesome.com/ca6effb5e7.js")
    body
        .wrapper
            include _block1
            include _block2
            include _block3
            include _footer
    script(src='/vendor/jquery-2.1.3/jquery.min.js')
    script(src='/vendor/bootstrap-3.3.4/bootstrap.min.js')
    script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    script(src='/js/bundle.js')