
// FONT colors
@yellow: #FFCF00;
@gray: #9B9B9B;
@dark-gray: #616161;
@light-gray: #EFEFEF;
@desctop-padding: 56px;
@mobile-padding: 24px;

.rotate(@degree){
  -moz-transform: rotate(@degree); /* Для Firefox */
  -ms-transform: rotate(@degree); /* Для IE */
  -webkit-transform: rotate(@degree); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(@degree); /* Для Opera */
  transform: rotate(@degree);
}