@font-face {
  font-family: "circe";
  src: url("../fonts/Circe-Regular.eot");
  src: local('☺'),
  url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Regular.woff") format("woff"),
  url("../fonts/Circe-Regular.ttf") format("truetype"),
  url("../fonts/Circe-Regular.svg#PT Serif") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "circe bold";
  src: url("../fonts/Circe-Bold.eot");
  src: local('☺'),
  url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Bold.woff") format("woff"),
  url("../fonts/Circe-Bold.ttf") format("truetype"),
  url("../fonts/Circe-Bold.svg#PT Serif") format("svg");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "circe extra-light";
  src: url("../fonts/Circe-ExtraLight.eot");
  src: local('☺'),
  url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-ExtraLight.woff") format("woff"),
  url("../fonts/Circe-ExtraLight.ttf") format("truetype"),
  url("../fonts/Circe-ExtraLight.svg#PT Serif") format("svg");

  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "ArialMT";
  src: url("../fonts/arialMT.eot");
  src: local('☺'),
  url("../fonts/arialMT.eot?#iefix") format("embedded-opentype"),
  url("../fonts/arialMT.woff") format("woff"),
  url("../fonts/arialMT.ttf") format("truetype"),
  url("../fonts/arialMT.svg#PT Serif") format("svg");

  font-weight: normal;
  font-style: normal;
}