/* mixins */
@import "_fonts";
@import "_config";

/* main styles */
body{
  font-family: circe;
  letter-spacing: normal;
}
.wrapper{
  margin: 0 auto;
  min-width: 480px;
  max-width: 1280px;
}

/* first contsnt block */
.block1 {
  background: url("/img/back_null_percents.jpg") no-repeat top center;
  background-size: cover;
  padding: @desctop-padding;
  padding-bottom: 40px;
  .slogan {
    font-family: "circe extra-light";
    font-size: 66px;
    color: #fff;
    line-height: 110%;
    margin-top: 210px;
  }
  .sub__slogan{
    font-family: "circe extra-light";
    font-size: 30px;
    color: @dark-gray;
    line-height: 134%;
  }
  .btn{
    width: 304px;
    .btn-yellow;
    padding: 25px 31px;
    letter-spacing: 0.9px;
  }
  .logo__header{
    margin-top: -6px;
    width: 104px;
    height: 56px;
    background: url("/img/logo.svg") no-repeat;
    display: block;
    float: left;
  }
  nav.top__nav{
    margin-top: 7px;
    ul{
      a{
        font-family: circe;
        font-size: 11px;
        color: @yellow;
        line-height: 146%;
        text-transform: uppercase;
        margin: 0 25px;
        padding: 0;
        letter-spacing: 0.2px;
        word-spacing: 5px;
        &:last-child{
          margin-right: 15px;
        }
        &:hover {
          background: transparent;
        }
        &:focus{
          background-color: transparent;
        }
      }
      .dropdown-toggle {
        color: #fff;
        i{
          padding-left: 5px;
          color: @gray;
        }
      }
      .open{
        a{
          background-color: transparent;
          &:focus{
            background-color: transparent;
          }
        }
      }
      ul.dropdown-menu{
        background-color: transparent;
        border: 0;
        box-shadow: none;
        text-align: right;
      }
    }
  }
}

/* second content block */
.block2{
  background-color: @yellow;
  padding: @desctop-padding;
  font-family: circe;
  .text__rotate--90{
    font-size: 20px;
    font-family: circe;
    line-height: 160%;
    .rotate(180deg);
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: rl-tb;
    margin-top: 44px;
    margin-left: -5px;
  }
  .icon__percent{
    &--img{
      margin-top: -11px;
      margin-left: 8px;
    }
    &--desc{
      padding-top: 25px;
      margin-left: -10px;
      font-size: 20px;

      line-height: 160%;
    }
  }

  .description{
    font-family: circe;
    font-size: 40px;
    line-height: 120%;
    padding-top: 45px;
    padding-left: 100px;
    margin-right: -15px;
  }

}
/* third content block */
.block3{
  text-align: center;
  margin-bottom: 45px;
  h3{
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 120%;
    color: #000;
  }
  .js-carousel-mobile{
    min-height: 125px;
    .slider{
      &__item{
        min-height: 125px;
        padding-top: 5px;
        text-align: center;
        text-align: -webkit-center;
        img{
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      &__nav{
        &--next{
          position: absolute;
          top: 50%;
          right: @desctop-padding;
          left: auto;
        }
        &--prev{
          position: absolute;
          top: 50%;
          left: @desctop-padding;
        }
      }
    }
  }
  .request-form{
    margin-top: 84px;
    margin-bottom: 21px;
    display: inline-block;
    text-align: left;
    small{
      text-align: left;
      font-size: 11px;
      color: #9B9B9B;
      line-height: 146%;
      margin-left: 23px;
      margin-top: 7px;
    }
    input{
      border: 1px;
      height: 72px;
      width: 328px;
      margin: 5px;
      background-color: #EFEFEF;
      border-color: transparent;
      box-shadow: none;
      border-radius: 0;
      &:focus{
        background-color: #FFF;
        border-color: #DEDEDE;
        box-shadow: 0 0 8px 2px rgba(0,0,0,0.12);
      }
    }
    .btn{
      width: 304px;
      .btn-yellow;
      padding: 25px 31px;
      margin: 5px;
      letter-spacing: 0.9px;
    }
  }
  .text-comment{
    font-size: 14px;
    line-height: 143%;
    a{
      text-decoration: none;
      color: #337ab7;
      border-bottom: 1px solid #337ab7;
      &:visited{
        color: #337ab7;
      }
      &:hover{
        border: none;
      }
    }
    span{
      display: block;
    }
  }
}

/* block social icons */
.social__icons{
  background-color: #232323;
  text-align: center;
  height: 88px;
  padding: 30px;
  border-bottom: 1px solid #979797;
  &-list{
    list-style-type: none;
    margin-left: -50px;
  }
  &-item{
    display: inline-block;
    padding: 0 9px;
    font-size: 24px;
    a{
      color: #fff;
    }
  }
}

/* footer block */
.footer{
  background-color: #232323;
  padding: 0 56px;
  width: 100%;
  font-family: "circe extra-light";
  color: @dark-gray;
  .main-link{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    line-height: 150%;
    &:hover{
      text-decoration: none;
    }
  }
  .menu-block{
    margin-top: 30px;
    .second{
      padding-left: 37px;
    }
    .third{
      padding-left: 26px;
    }
    .last{
      padding-left: 40px;
      li{
        padding-bottom: 8px;
      }
    }
  }
  .menu-list{
    list-style-type: none;
    margin: 8px 0;
    padding: 0;
    .main-link{
      color: #fff;
    }
    a{
      line-height: 150%;
      font-size: 16px;
      color: @gray;
      text-decoration: none;
      border-bottom: 1px solid @gray;
      &:hover{
        border: none;
      }
    }
    &.double li{
      display: block;
      margin-left: 10px;
      float: left;
      width: 45%;
    }
    &__item{
      padding-bottom: 8px;
      a{
        color: @gray;
        padding: 0;
      }
    }
  }
  &-text__block{
    margin-top: 61px;
    margin-bottom: 76px;
    font-family: ArialMT;
    font-size: 11px;
    line-height: 146%;
    p{
      margin-bottom: 16px;
    }
    a{
      color: @dark-gray;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .logo-list{
    text-align: right;
    &__item{
      float: right;
      display: inline-block;
      padding-bottom: 20px;
      &:nth-child(1){
        padding-right: 7px;
        margin-top: -10px;
      }
      &:nth-child(2){
        margin-top: -9px;
        padding-right: 31px;
      }
      &:nth-child(3){
        clear: both;
        padding-top: 13px;
      }
      &:nth-child(4){
        padding-top: 26px;
        padding-right: 32px;
      }
      &:nth-child(5){
        padding-right: 38px;
        padding-top: 9px;
      }
    }
  }
}
/* reusable style */
.btn-yellow{
  font-size: 11px;
  line-height: 146%;
  margin: 25px 0;
  height: 72px;
  border-radius: 0;
  background-color: @yellow;
  color: #000;
  text-align: justify;
  padding: 30px;
  text-transform: uppercase;
}

/* tablet + mobile style */
@media all and (max-width: 960px) /* height <= 960 px */
{
  .block1{
    padding: 10px @mobile-padding;
    background-position: 75% 50%;
    .logo__header{
      margin: 0 0 0 31px;
    }
    .slogan{
      font-size: 40px;
      line-height: 120%;
      margin-top: 230px;
    }
    .sub__slogan{
      font-size: 24px;
      line-height: 134%;
      color: #d2d2d2;
    }
    .btn{
      width: 353px;
      margin: 20px 0;
      padding: 25px 21px 25px 31px;
    }
  }
  .block2{
    padding: @mobile-padding;
    text-align: center;
    .icon__percent--img{
      margin-top: 36px;
      text-align: center;
      margin-left: -20px;
      img{
        height: 160px;
      }
    }
    .description{
      font-family: circe;
      font-size: 22px;
      line-height: 146%;
      margin: 0 auto;
      padding-top: 39px;
      padding-bottom: 22px;
      padding-left: 0;
    }
  }
  .block3 {
    h3 {
      font-family: 'circe bold';
      font-size: 30px;
      line-height: 134%;
      margin-top: 28px;
      margin-bottom: 10px;
      span {
        display: block;
      }
    }
    .js-carousel-mobile {
      .slider__nav{
        &--prev {
          left: 30px;
        }
        &--next {
          right: 30px;
        }
      }
    }
    .request-form{
      margin-top: 40px;
      .btn{
        width: 352px;
        padding: 25px 21px 25px 31px;
      }
    }
    .text-comment{
      font-size: 13px;
      line-height: 124%;
      padding: 3px 0;
      text-align: center;
      span{
        display: inline;
      }
    }
  }
  .social__icons{
    border: none;
    font-size: 18px;
    &-item{
      padding: 16px 9px;
    }
  }
  .footer{
    padding: 0 @mobile-padding;
    text-align: center;
    .menu-block{
      border-bottom: 1px solid #979797;
      padding: 0 36px 20px 32px;;
      margin: 25px -24px 0 -24px;
      .main-link{
        border-bottom: none;
        &:hover{
          border-bottom: 1px solid #fff;
        }
      }
      .first{
        padding: 0;
      }
      .second{
        padding: 0;
        .main-link{
          margin-left: -15px;
        }
      }
      .third{
        padding: 0;
        .main-link{
          margin-left: -20px;
        }
      }
      .last{
        padding: 0;
      }
    }
    &-text__block{
      text-align: center;
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
}

@media all and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}